* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divs {
    width: calc(min(100vw, 100vh)/16);
    height: calc(min(100vh, 100vw)/16);
    border: solid black 1px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: min(100vw, 100vh);
    height: min(100vh, 100vw);
}